$left-background: rgba(10, 10, 30, 0.80);
$left-element-background: rgba(10, 10, 30, 0.15);
$left-weight: 300px;
$right-weight: 295px;
$footer-height: 70px;
$lightgrey-bckgnd: #EEEEEE;
$grey-commentbckgnd: #DDD;
$light-gray: #aaa;
$middle-gray: #666;
$dark-grey: #333;
$common-green: #265;
$darker-green: #155545;


%left-margin{
  margin: -1px 0 0 16px;
  padding: 10px;
}

%head-height{
  min-height: 50px; 
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@import "reset";
@import "sidebar/left";
@import "sidebar/right";
@import "content/main";
@import "header";
@import "footer";

.main
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100vh;
}